*,
*::before,
*::after {
    position: relative;
    box-sizing: border-box;
    margin: 0;
    /* outline: 1px dashed white; */
    text-align: center;
}

:root {
    font-family: "Averia Libre", system-ui, sans-serif;
    font-weight: 400;
    --color-dark: #24241b;
    --color-light: #e6e9da;
    /* #TODO increase contrast between disabled and checked radio, possibly making font bold */
    --color-input-disabled: #aeb0a7;
    --color-body-bg: #a7ae99;
    --color-frame-bg: #b9bfa7;
    --color-inputs-before-button-bg: #8e9d7a;
    --color-radio-checked: #eafc9e;
    --color-button-border-above: radial-gradient(
        circle farthest-corner at center bottom,
        hsl(0, 0%, 0% / 30%) 0%,
        hsl(0, 0%, 100% / 30%) 100%
    );
    --color-button-border-below: radial-gradient(
        circle farthest-corner at center,
        hsl(60, 14%, 12%) 0%,
        hsl(60, 14%, 12%) 100%
    );

    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-text-size-adjust: 100%;
}

body {
    margin: 0;
    min-width: 320px;
    min-height: 100vh;
    background: var(--color-body-bg);
}

.center-children {
    display: flex;
    flex-direction: column;
    gap: 16px;
    place-content: center;
    place-items: center;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 12px;
    padding: 12px 12px;
    /* width: 228px; */
    height: 310px;

    background: var(--color-frame-bg);
    box-shadow: 0px 2px 2px -1px rgba(119, 129, 98, 0.2),
        0px 3px 6px rgba(81, 86, 69, 0.1),
        inset 0px 5px 3px -2px rgba(210, 213, 200, 0.25),
        inset 0px -2px 5px 1px rgba(138, 145, 116, 0.25);
    border-radius: 6px 6px 18px 18px;
}
#inputs-before-button {
    min-width: 204px;
    height: 176px;
    display: flex;
    flex: none;
    place-items: stretch;
    padding: 12px 24px;
    background: var(--color-inputs-before-button-bg);
}
#radio-buttons {
    display: grid;
    grid-template-columns: repeat(2, minmax(100px, 1fr));
    gap: 8px;
}
.radio-button-wrapper {
    /* flex-grow: 1; */
    display: grid;
    place-items: center;
    isolation: isolate;
    /* min-width: min-content; */
    width: 100%;
    aspect-ratio: 1 / 1;
}
.radio-button-wrapper > * {
    grid-column: 1 / -1;
    grid-row: 1 / -1;
}
input[type="radio"] {
    appearance: none;
    width: 100%;
    height: 100%;
    /* width: 74px;
    height: 74px; */

    background: var(--color-dark);
    color: var(--color-body-bg);
    outline: 5px var(--color-light) solid;
    outline-offset: -5px;
}
input[type="radio"]::before {
    content: "";
}
input[type="radio"] + label {
    /* padding: 8px; */
    overflow-wrap: normal;
    color: var(--color-light);
    font-weight: 600;
    text-transform: uppercase;
    z-index: 9999;
}
input[type="radio"]:checked {
    outline: 5px var(--color-radio-checked) solid;
}
input[type="radio"]:checked + label {
    /* -webkit-text-fill-color: var(--color-radio-checked);
    -webkit-text-stroke: 1px var(--color-radio-checked); */

    font-weight: 900;
    color: var(--color-radio-checked);
}

.invalidDateInput {
    /* #TODO */
    background: red;
}
#button-wrapper {
    gap: 4px;
}
button {
    border: 0;
    padding: 0;
    min-width: 64px;
    min-height: 64px;
    border-radius: 9999px;
    background: #2f3025;
    color: inherit;
}

/* button:active {
    transform: translateY(10px);
} */

button:disabled {
    background: grey;
}

button + p {
    text-transform: uppercase;
    background: grey;
    padding: 8px;
}
