*,
*::before,
*::after {
    position: relative;
    box-sizing: border-box;
    margin: 0;
    /* outline: 1px dashed white; */
    text-align: center;
}

:root {
    font-family: "Averia Libre", system-ui, sans-serif;
    font-weight: 400;
    --color-primary: #eafc9e;
    --color-disabled: #aeb0a7;
    --color-bg: #a7ae99;
    --color-frame: #b9bfa7;
    --color-inputs-before-button: #8e9d7a;

    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-text-size-adjust: 100%;
}

body {
    margin: 0;
    min-width: 320px;
    min-height: 100vh;
    background: var(--color-bg);
}

.center-children {
    display: flex;
    flex-direction: column;
    gap: 16px;
    place-content: center;
    place-items: center;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 12px;
    padding: 12px 12px;
    width: 228px;
    height: 310px;

    background: var(--color-frame);
    box-shadow: 0px 2px 2px -1px rgba(119, 129, 98, 0.2),
        0px 3px 6px rgba(81, 86, 69, 0.1),
        inset 0px 5px 3px -2px rgba(210, 213, 200, 0.25),
        inset 0px -2px 5px 1px rgba(138, 145, 116, 0.25);
    border-radius: 6px 6px 18px 18px;
}
#inputs-before-button {
    min-width: 204px;
    height: 176px;
    display: flex;
    flex: none;
    place-items: stretch;
    padding: 12px 24px;
    background: var(--color-inputs-before-button);
}
#radio-buttons {
    display: flex;
    gap: 8px;
}
.radio-button-wrapper {
    display: grid;
    place-items: center;
    isolation: isolate;
}
.radio-button-wrapper > * {
    grid-column: 1 / -1;
    grid-row: 1 / -1;
}
input[type="radio"] {
    appearance: none;
    width: 74px;
    height: 74px;
    /* padding: 8px; */

    background: black;
    color: var()
    outline: 3px white solid;
    outline-offset: -3px;
}
input[type="radio"]:checked {
    color: yellow;
    outline: 4px yellow solid;
}
.radio-button-wrapper label {
    text-transform: uppercase;
    z-index: 9999;
}

.invalidDateInput {
    background: red;
}
#button-wrapper {
    gap: 4px;
}
button {
    border: 0;
    padding: 0;
    min-width: 64px;
    min-height: 64px;
    border-radius: 9999px;
    background: #2f3025;
    color: inherit;
}

/* button:active {
    transform: translateY(10px);
} */

button:disabled {
    background: grey;
}

button + p {
    text-transform: uppercase;
    background: grey;
    padding: 8px;
}
