*,
*::before,
*::after {
    position: relative;
    box-sizing: border-box;
    margin: 0;
}

:root {
    font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
    line-height: 1.5;
    font-weight: 400;
    --color-primary: #40e0d0;
    --color-bg: #9ca58a;

    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-text-size-adjust: 100%;
}

body {
    margin: 0;
    min-width: 320px;
    min-height: 100vh;
    background: var(--color-bg);
}

.center-children {
    display: flex;
    flex-direction: column;
    gap: 16px;
    place-content: center;
    place-items: center;
}

/*.frame {
    display: flex;
    width: 236px;
    height: 474px;
    padding: 16px 20px 64px 20px;
    flex-direction: column;
    align-items: center;
    flex-shrink: 0;
    border-radius: 8px 8px 32px 32px;
    background: linear-gradient(
            0deg,
            rgba(0, 0, 0, 0) 96.31%,
            rgba(230, 233, 218, 0.2) 100%
        ),
        linear-gradient(
            180deg,
            rgba(0, 0, 0, 0) 94.83%,
            rgba(72, 75, 56, 0.1) 100%
        ),
        #aab397;
    box-shadow: -5px 2px 4.6px 0px rgba(80, 83, 64, 0.5),
        5px 2px 4.6px 0px rgba(80, 83, 64, 0.5),
        0px 16px 4.6px -6px rgba(80, 83, 64, 0.5);
}*/

main {
    display: flex;
    padding: 32px 32px;
    flex-direction: column;
    align-items: center;
    gap: 40px;

    border-radius: 8px 8px 32px 32px;
    background: #484b38;
    box-shadow: 0px -6px 2px 0px hsla(72, 25%, 88%, 0.85) inset,
        6px 4px 4px 0px rgba(20, 19, 11, 0.25) inset,
        -6px 4px 4px 0px rgba(20, 19, 11, 0.25) inset;

    color: #e6e9da;
}
select {
    align-self: stretch;
}

p {
    display: flex;
    width: 140px;
    height: 140px;

    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 9999px;
    background: #e6e9da;
    box-shadow: 1px 4px 4px 0px rgba(51, 57, 40, 0.7),
        1px 13px 1px 0px rgba(48, 55, 36, 0.25) inset,
        0px 0px 0px 10px #7a8663 inset,
        1px -27px 1px -11px rgba(244, 246, 237, 0.9) inset;
    color: #0b0b09;
    font-family: "Averia Libre", Tahoma, Verdana, Geneva, sans-serif;
    font-size: 66px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
.invalidDateInput {
    background: red;
}
button {
    border: 0;
    padding: 0;
    width: 140px;
    height: 140px;
    border-radius: 9999px;
    background: #2f3025;
    box-shadow: 0px 10px 1px 2px rgba(20, 19, 11, 0.85),
        0px -8px 4px -3px rgba(25, 25, 15, 0.5) inset,
        0px 1px 4px -1px rgba(230, 233, 218, 0.4) inset;
    color: inherit;
}

button:active {
    transform: translateY(10px);
    box-shadow: 0px 1px 1px 2px rgba(20, 19, 11, 0.85),
        0px -7px 4px -3px rgba(25, 25, 15, 0.5) inset,
        0px 3px 4px -1px rgba(230, 233, 218, 0.3) inset;
}

button:disabled {
    background: grey;
}
